.navbar {
    height: 50px;
}

body {
    padding-top: 50px;
}

#app-top {
    color: #f8f9fa;
}

.container > div {
    margin: 0 auto;
}

.top-banner {    
    aspect-ratio: 4 / 1;
    background-size: cover;
    max-height: 400px;
}
/*
.blog-title {
  position: absolute;
  top: 50%;
}
 .sidebar {
    min-height: calc(100vh - 50px);
} */