{% extends 'layout.html' %}
{% block content %}
<div style='width: 720px;'>
    <div style='border-bottom: thin solid;'>
        <h2>{{ article.title }}</h2>
    </div>    
    <p class='fw-light'>{{ article.created_at }}</p>
    <p>{{ article.content | linebreaksbr }}</p>

    <div>
        <a class='btn btn-primary' href='{% url "diary:user_index" article.author.username %}'>一覧</a>
        {% if request.user.id == diary_owner.id %}
        <a class='btn btn-primary' href='{% url "diary:update" article.author.username article.id %}'>編集</a>
        <a class='btn btn-danger' href='{% url "diary:delete" article.author.username article.id %}'>削除</a>
        {% endif %}
    </div>
</div>

{% endblock %}