{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    {% block extrahead %}{% endblock %}
    <title>MyBlogApp</title>
</head>

<body>
    <nav class='navbar navbar-expand-sm navbar-dark bg-dark fixed-top'>
        <a id='app-top' class='navbar-brand ms-3' href='{% url "diary:index" %}'>MyBlogApp</a>

        <ul class='navbar-nav flex-row'>
            {% if user.is_authenticated %}
            <li class='nav-item'>
                <a href='{% url "user:update" user.username %}' class='btn btn-link navbar-brand'>{{ user }}</a>
            </li>
            <li class='nav-item'>
                <form method='post' action='{% url "logout" %}'>
                    {% csrf_token %}
                    <button class='logout btn btn-link navbar-brand' type='submit'>Logout</button>
                </form>
            </li>
            {% else %}
            <li class='nav-item'>
                <a href='{% url "login" %}' class='login btn btn-link navbar-brand'>Login</a>
            </li>
            <li class="nav-item ms-1">
                <a href='{% url "user:signup" %}' class='signup btn btn-link navbar-brand'> Sign up </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% if diary_owner %}
    {% with has_image=diary_owner.header_image %}
    <div class="d-flex align-items-center justify-content-center text-center py-4 bg-light {% if has_image %}top-banner{% endif %}"
        {% if has_image %}style="background-image: url('{{ diary_owner.header_image.url }}')" {% endif %}>
        <a class="h1 text-center" href="{% url 'diary:user_index' diary_owner.username %}"
        style="text-decoration-line: none; color: {{ diary_owner.title_color|default:'#0000EE' }};">
            {{ diary_owner.diary_title }}
        </a>
    </div>
    {% endwith %}
    <!-- {% if diary_owner.header_image %} 
    <div class="d-flex align-items-center justify-content-center text-center py-4 bg-light top-banner"
     style="background-image: url('{{ diary_owner.header_image.url }}')" >
        <a class='h1 text-center' href='{% url "diary:user_index" diary_owner.username %}'
            style="text-decoration-line: none; color: {{ diary_owner.title_color|default:'#0000EE' }};">{{ diary_owner.diary_title }}</a>
    </div>
    {% else %}
    <div class='d-flex align-items-center justify-content-center text-center py-4 bg-light'>
        <a class='h1 text-center' href='{% url "diary:user_index" diary_owner.username %}'
            style="text-decoration-line: none; color: {{ diary_owner.title_color|default:'#0000EE' }};">{{ diary_owner.diary_title }}</a>
    </div> 
    {% endif %} -->
    {% endif %}
    <div class='row g-0'>
        <div class='col-md-10 p-3 container d-flex'>
            {% block content %}
            {% endblock %}
        </div>
        <div class='col-md-2 bg-light p-3 sidebar'>
            {% if diary_owner %}
                {% if request.user.id == diary_owner.id %}
                <div class='d-inline'>
                    <a class='btn btn-primary' href="{% url 'diary:create' diary_owner.username %}">新規投稿</a>
                </div>
                <br>
                {% endif %}
                <a class='h3' href='{% url "diary:user_index" diary_owner.username %}'
                    style='text-decoration-line: none;'>ブログトップ</a><br>
                {% if diary_list %}
                <a href='{% url "diary:entrylist" diary_owner.username %}'>{{ diary_owner.username }}投稿記事一覧</a>
                <h5 class='pt-2'>新着記事</h5>
                    {% for article in diary_list %}
                    <a href="{% url 'diary:detail' article.author.username article.id %}">{{ article.title }}</a>
                    <p class='text-truncate mb-2'>{{ article.content }}</p>
                    {% endfor %}
                {% endif %}
            {% endif %}
            <a class='h3' href='{% url "diary:index" %}' style='text-decoration-line: none;'>MyBlogApp</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>